---
import Main from "../layouts/Main.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Cardcollection from "../components/Cardcollection.astro";
import Showcase from "../components/Showcase.astro";
import Faq from "../components/Faq.astro";
---

<Main>
  <Hero />
  <div class="relative">
    <Navbar />
    <Cardcollection />
    <Showcase />
    <Faq />
  </div>
</Main>

<script>
  import gsap from "gsap";

  const { ScrollTrigger } = await import("gsap/ScrollTrigger");
  gsap.registerPlugin(ScrollTrigger);
  gsap.to(".nav", {
    autoAlpha: 1,
    scrollTrigger: {
      trigger: ".nav",
      scrub: 0.3,
      start: "top top",
    },
    start: "top top",
    ease: "power1.Out",
  });

  gsap.from(".cards", {
    duration: 1,
    yPercent: 100,
    opacity: 0,
    ease: "expo",
  });
</script>
